<!-- <app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast> -->

<button class="btn btn-sm btn-warning" (click)="showProductForm()">
    <i class="fa fa-pencil"></i> Ajouter un produit</button>

<mat-card *ngIf="isAdding">
    <mat-card-header>Ajouter</mat-card-header>
    <mat-card-content>
        <form [formGroup]="addProductForm" (ngSubmit)="createProduct()">
            <mat-form-field>
                <input matInput placeholder="Designation" name="designation" formControlName="designation">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Quantity" name="quantity" formControlName="quantity">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Prix" name="price" formControlName="price">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="!addProductForm.valid">Ajouter</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="isEditing">
    <mat-card-header>Modifier</mat-card-header>
    <mat-card-content>
        <form [formGroup]="editProductForm" (ngSubmit)="updateProduct(id)">
            <mat-form-field hidden>
                <input matInput placeholder="ID" name="id" formControlName="id">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Designation" name="designation" formControlName="designation">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Quantity" name="quantity" formControlName="quantity">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Prix" name="price" formControlName="price">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="!editProductForm.valid">Modifier</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>Liste des produits</mat-card-header>
    <mat-card-content>
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Id</th>
                    <th>Designation</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="products?.length === 0">
                <tr>
                    <td colspan="6">Aucun produit dans la base de données</td>
                </tr>
            </tbody>
            <tbody *ngIf="products?.length>0">
                <tr *ngFor="let product of products">
                    <td>
                        <a>{{product.id}}</a>
                    </td>
                    <td>
                        <a>{{product.designation}}</a>
                    </td>
                    <td>
                        <a>{{product.quantity}}</a>
                    </td>
                    <td>
                        <a>{{product.price}}</a>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-warning" (click)="enableEditing(product)">
                            <i class="fa fa-pencil"></i> Modifier</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteProduct(product)">
                            <i class="fa fa-trash"></i> Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>