<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-title">
        <h5 class="titleBloc">Liste des Produits</h5>
      </div>
      <div class="table-area padd-r0 padd-l0" *ngIf="products && !loading"></div>
      <div class="table-responsive">
        <div class="table-area">
          <table class="table table-striped  tdLeft tableiddle">
            <thead>
              <tr>
                <th scope="col">
                  <a class="trieCol" (click)="orderBy('id')">
                    <i class="fa fa-exchange"></i>
                  </a>Id</th>
                <th scope="col">
                  <a class="trieCol" (click)="orderBy('designation')">
                    <i class="fa fa-exchange"></i>
                  </a>Designation</th>
                <th scope="col">
                  <a class="trieCol" (click)="orderBy('designation')">
                    <i class="fa fa-exchange"></i>
                 </a>Quantité</th>
                <th scope="col">
                  <a class="trieCol" (click)="orderBy('quantity')">
                    <i class="fa fa-exchange"></i>
                  </a>Prix</th>
                <th scope="col">
                  <a class="trieCol">
                  </a>Action</th>
              </tr>
            </thead>
            <!--tbody *ngIf="loading">
              <tr>
                <td colspan="5">
                  <app-loader [load]="loading"></app-loader>
                </td>
              </tr>
            </tbody-->

            <tbody>
              <tr *ngFor="let product of produts ; let i=index">
                <ng-container>
                  <td>
                    <a >{{product.id}}</a>
                  </td>
                  <td>
                    <a >{{product.designation}}</a>
                  </td>
                  <td>
                    <a >{{product.quantity}}</a>
                  </td>
                  <td>
                    <div class="tdflex">
                      <i class="fa fa-2x fa-edit clickable" (click)="edit(product, i)"></i>
                      <a data-toggle="modal" [attr.data-target]="'#deleteModal' + i">
                        <i class="fa fa-2x fa-trash-o"></i>
                      </a>
                    </div>
                  </td>

                  <div class="modal fade" [attr.id]="'deleteModal' + i" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header purple-skin">
                          <h5 class="modal-title text-white">Confirmation</h5>
                          <button type="button" [attr.id]="'closeButton' + i" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Etes-vous sûr de supprimer ce produit
                            <em>{{product.designation}}</em>?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btns mdm-btn btn-warning" (click)="delete(product , i)">Supprimer</button>
                          <button type="button" class="btn btns mdm-btn purple-skin" data-dismiss="modal">Annuler</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
